{% extends 'base.html' %}
{% load static %}

{% block title %}棋譜{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/game/shogi.css' %}">
{% endblock %}

{% block content %}
    {% csrf_token %}
    <img src="/static/img/koma_ichiji_touka.bmp" style="display:none" />
    <audio id="audio-komaoto" preload="auto">
        <source src="/static/audio/komaoto5.wav" type="audio/wav">
    </audio>

    <div id="main"></div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/game_kifu.js' %}"></script>
{% endblock %}