/******************************************************************************/
/***************************** ▼余白部分の設定▼ *****************************/
.margin-col-top-bottom {        /* 上下のCol */
    height: 2vh;
}

.margin-col-left-right {        /* 左右のCol */
    position: relative;
}

.margin-top-bottom {            /* 上下の余白 */
    position: relative;
    background: #ffd17a;
    border: 1px solid #ffd17a;
    height:2vh;
}

.margin-left-right {            /* 左右の余白 */
    position: relative;
    background: #ffd17a;
    border: 1px solid #ffd17a;
    float: left;
    padding: 0;
    padding-top: 100%;
    width: 2vh;
}

.margin-corner {                /* 角の余白 */
    position: relative;
    background: #ffd17a;
    border: 1px solid #ffd17a;
    width: 2vh;
    height:2vh;
}

.margin-dan {                   /* 段の表示用 */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
/***************************** ▲余白部分の設定▲ *****************************/
/******************************************************************************/


/******************************************************************************/
/****************************** ▼将棋盤の設定▼ ******************************/
.board-row:after {              /* 将棋盤のRow */
    clear: both;
    content: "";
    display: table;
}

.masu-col {                    /* 将棋盤のマス目のCol */
    margin-top: -1px;
    margin-left: -1px;
}

.masu {                         /* 将棋盤のマス目 */
    position: relative;
    background: #ffd17a;
    border: 1px solid #aaaaaa;
    float: left;
    font-size: 24px;
    font-weight: bold;
    padding: 0;
    padding-top: 100%;
    text-align: center;
    width: 100%;
}

.masu:hover {                   /* ホバー時の将棋盤のマス目 */
    cursor: grab;
}

.masu:focus {                   /* フォーカス時の将棋盤のマス目 */
    outline: none;
    cursor: grabbing;
    border: 1px solid #0000ff;
}
/****************************** ▲将棋盤の設定▲ ******************************/
/******************************************************************************/


/******************************************************************************/
/****************************** ▼将棋駒の設定▼ ******************************/
.koma {                         /* 将棋駒 */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 43px;
    height: 48px;
    overflow: hidden;
    margin: auto;
    zoom: 1.3;
}

.koma-img {                     /* 将棋駒画像 */
    position: relative;
    top: 0px;                   /* top  48の倍数で駒選択 */
    left: -43px;                /* left 43の倍数で駒選択 */
}
/****************************** ▲将棋盤の設定▲ ******************************/
/******************************************************************************/