/******************************************************************************/
/***************************** ▼余白部分の設定▼ *****************************/
.margin-col-top-bottom {        /* 上下のCol */
    height: 3vh;
}

.margin-col-left-right {        /* 左右のCol */
    position: relative;
}

.margin-top-bottom {            /* 上下の余白 */
    position: relative;
    background: #ffd17a;
    border: 1px solid #ffd17a;
    font-weight: bold;
    height: 3vh;
}

.margin-left-right {            /* 左右の余白 */
    position: relative;
    background: #ffd17a;
    border: 1px solid #ffd17a;
    float: left;
    padding: 0;
    padding-top: 100%;
    width: 3vh;
}

.margin-corner {                /* 角の余白 */
    position: relative;
    background: #ffd17a;
    border: 1px solid #ffd17a;
    width: 3vh;
    height: 3vh;
}

.margin-dan {                   /* 段の表示用 */
    position: absolute;
    font-weight: bold;
    top: 50%;
    transform: translateX(25%) translateY(-50%);
}

.margin-komadai-col {
    position: relative;
    background: #ffd17a;
    border: 1px solid #ffd17a;
}
/***************************** ▲余白部分の設定▲ *****************************/
/******************************************************************************/


/******************************************************************************/
/****************************** ▼将棋盤の設定▼ ******************************/
.board-row:after {              /* 将棋盤のRow */
    clear: both;
    content: "";
    display: table;
}

.masu-col {                    /* 将棋盤のマス目のCol */
    margin-top: -1px;
    margin-left: -1px;
}

.masu {                         /* 将棋盤のマス目 */
    position: relative;
    background: #ffd17a;
    border: 1px solid #aaaaaa;
    float: left;
    font-size: 24px;
    font-weight: bold;
    padding: 0;
    padding-top: 100%;
    text-align: center;
    width: 100%;
}

.masu:hover {                   /* ホバー時の将棋盤のマス目 */
    cursor: grab;
    border: 1px solid #ffffff;
}

.masu:focus {                   /* フォーカス時の将棋盤のマス目 */
    outline: none;
    cursor: grabbing;
    border: 1px solid #ff0000;
    background: #ffac54;
}

.masu-action {                    /* 移動可能なマス目 */
    background: #93ca76;
}

.masu-final {                   /* 最終手のマス目 */
    background: #f6ad49;
}
/****************************** ▲将棋盤の設定▲ ******************************/
/******************************************************************************/


/******************************************************************************/
/******************************* ▼駒台の設定▼ *******************************/
.komadai-row:after {            /* 駒台のRow */
    clear: both;
    content: "";
    display: table;
}

.komadai-masu-col {             /* 駒台のマス目のCol */
    margin-top: 0px;
    margin-left: 0px;
}

.komadai-moji-col {
    margin-top: 0px;
    margin-left: 0px;
}

.komadai-masu {                  /* 駒台のマス目 */
    position: relative;
    background: #ffd17a;
    border: 2px solid #ffd17a;
    float: left;
    font-size: 24px;
    font-weight: bold;
    padding: 0;
    padding-top: 100%;
    text-align: center;
    width: 100%;
}

.komadai-moji {
    position: relative;
    background: #ffd17a;
    border: 2px solid #ffd17a;
    font-size: 24px;
    font-weight: bold;
    height: 100%;
}

.komadai-masu:hover {             /* ホバー時の駒台のマス目 */
    cursor: grab;
    border: 2px solid #ffffff;
}

.komadai-masu:focus {             /* フォーカス時の駒台のマス目 */
    outline: none;
    cursor: grabbing;
    border: 2px solid #ff0000;
    background: #ffac54;
}

.moji {
    position: absolute;
    text-align: left;
    bottom: 0px;
}
/******************************* ▲駒台の設定▲ *******************************/
/******************************************************************************/


/******************************************************************************/
/****************************** ▼将棋駒の設定▼ ******************************/
.koma {                         /* 将棋駒 */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 43px;
    height: 48px;
    overflow: hidden;
    margin: auto;
}

.koma-img {                     /* 将棋駒画像 */
    position: relative;
    /* top: 0px; */                   /* top  48の倍数で駒選択 */
    /* left: -43px; */                /* left 43の倍数で駒選択 */
}
/****************************** ▲将棋盤の設定▲ ******************************/
/******************************************************************************/